@*
 * This file is part of Gestor Documental para la Universidad Autónoma de Guadalajara Campus Tabasco.
 * Copyright (c) 2016, José Manuel Placeres Castro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.   
 *@

@model Gestor_Documental.Models.Entidades.Documento
@{
ViewBag.Title = "Editar Documento";
Layout = "~/Views/Shared/_Layout.cshtml";
var controlador = ViewContext.RouteData.Values["controller"].ToString();
var accion = ViewContext.RouteData.Values["action"].ToString();
}

<script type="text/javascript">
    var editar = true;
    var archivoAnterior = "@Model.Nombre";
</script>

<script src="~/Scripts/Documento/DocumentoNuevoEditar.js"></script>
@if (ViewBag.validacion != null && ViewBag.validacion["Error"] == true)
{
    <script type="text/javascript">
        var mensaje = "@ViewBag.validacion["Mensaje"]";
        $(document).ready(function () {
            ValidarGuardado(mensaje);
        });
    </script>
}
@{
ViewBag.validacion = null;
}

<div id="divTool" class="navbar">
    <div class="navbar-inner">
        <a href="/@controlador" class="btn btn-info pull-left" style="margin-left: -10px;"><i class="icon-arrow-left" style="margin-top: 3px;"></i> Regresar</a>
        <a id="btnGuardar" class="btn btn-success">Guardar</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section id="DocumentoForm">
            @using (Html.BeginForm(accion, controlador, FormMethod.Post, new { id = "frmDocumento", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.IdDocumento)
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Archivo">Archivo</label>
                    <div class="col-md-10">
                        <input type="file" id="archivo" name="archivo" title="Seleccione un archivo" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "span5", @maxlength = "512" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="IdDepartamentoDisabled">Departamento</label>
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.IdDepartamento)
                        <select id="cboxDepartamento" name="IdDepartamentoDisabled" disabled class="form-control">
                            <option value="0">Seleccione...</option>
                            @if (ViewBag.Departamento != null)
                            {
                                foreach (var depa in ViewBag.Departamento as List<Gestor_Documental.Models.Entidades.Departamento>)
                                {
                                    <option value="@(depa.IdDepartamento)" @(depa.IdDepartamento == Model.IdDepartamento ? "selected='selected'" : "")>@(depa.Nombre)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="IdAreaDisabled">Area</label>
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.IdArea)
                        <select id="cboxArea" name="IdAreaDisabled" disabled class="form-control">
                            <option value="0">Seleccione...</option>
                            @if (ViewBag.Area != null)
                            {
                                foreach (var area in ViewBag.Area as List<Gestor_Documental.Models.Entidades.Area>)
                                {
                                    <option value="@(area.IdArea)" @(area.IdArea == Model.IdArea ? "selected='selected'" : "")>@(area.Nombre)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<div class="modal fade" role="dialog" id="mdlError">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p id="errorDetalle"></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</a>
            </div>
        </div>
    </div>
</div>
